<html>
<head>
	<title>User info</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
		
        .container {
            background-color: #d1d1d1;
			display: flex;
			
            
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
           
        }.css-serial {
  			counter-reset: serial-number;  /* Set the serial number counter to 0 */
		}.css-serial td:first-child:before {
 			counter-increment: serial-number;  /* Increment the serial number counter */
  			content: counter(serial-number);  /* Display the counter */
		}
        
    </style>
	</style>
</head>
<body>
	
	<div class="container border-top border-5 border-primary rounded-top">
		
		
		<table class="css-serial table table-dark table-striped">
			<thead>
			  <tr>
				<th>Sl.No</th>
				<th scope="col">Id</th>
				<th scope="col">FirstName</th>
				<th scope="col">LastName</th>
				<th scope="col">Date</th>
				<th scope="col">Income</th>
				<th scope="col">Ip</th>
				<th scope="col">Option</th>
			  </tr>
			</thead>
			<tbody>
				{{range .Users}}
				<tr>
				  <td></td>
				  <td scope="row">{{.Id}}</td>
				  <td>{{ .FirstName }}</td>
				  <td>{{ .LastName }}</td>
				  <td>{{ .Date}}</td>
				  <td>{{ .Income }}</td>
				  <td>{{ .Ip}}</td>
				  <td>
					<form action="/deleteuser/">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
					</td>
				  
				</tr>
				{{end}}	
			  
			</tbody>
		  </table>
		
		
	</div>
	

	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>